.team-members-container {
  padding: 20px;
}

.team-members-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.team-members-table {
  border-collapse: collapse;
  width: 80%;
}

.team-members-table th,
.team-members-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.team-members-table th {
  background-color: #f2f2f2;
}

.team-members-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.team-members-table tr:hover {
  background-color: #ddd;
}
