.login-container {
  text-align: center;
  display: flex;
  margin-top: 0px;
}

.login-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
  margin: 0 auto 115px auto;
}

.image-login {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
