/*.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
}

.form-markdown {
  display: flex;
}

.form-markdown-preview > h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.form-markdown-preview > h2 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.form-markdown-preview > p {
  font-size: 14px;
  color: #333;
}
*/
