.navbar {
  display: flex;
  padding: 0 1%;
  height: 64px;
  position: static;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey);
}

.navbar-logo img {
  width: auto;
  height: 21px;
}

.navbar-item {
  margin-right: 50px;
  color: #636363 !important;
  transition-duration: 0.4s;
}

.navbar-item:hover,
.navbar-item:focus {
  color: var(--black) !important;
}

a {
  display: inline-block;
  margin: 50px;
  color: var(--black);
  size: 14px;
}

.active {
  font-weight: bold;
  color: var(--black) !important;
}
