@import '../../assets/css/palette.css';

.inline-challenge {
  background-color: var(--grey);
  border-radius: 5px;
  padding: 1rem;
  width: 80%;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.inline-description > * {
  margin-right: 2rem;
}

.inline-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
