.content {
  padding-left: 30px;
}

h1 {
  font-weight: bold;
}

p.category {
  line-height: 0;
  padding-top: 15px;
  color: grey;
}
p.points {
  line-height: 0.5;
}

.description {
  padding-top: 20px;
  line-height: 1.5;
}

.resources {
  position: absolute;
  bottom: 200px;
  line-height: 0.5;
}

.download-btn {
  background-color: #5cb5e8;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  border-radius: 5px;
}

.answer-form {
  position: absolute;
  bottom: 64px;
}

.form {
  position: relative;
  display: inline-block;
  padding-left: 0;
}

.flag {
  background-color: #ececec;
  border: none;
  margin-right: 20px;
  padding: 7px 20px;
  color: grey;
}

.submit-btn {
  background-color: #f67300;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  border-radius: 5px;
}

.first-blood {
  color: #d92d2d;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

tr {
  border: solid #ececec;
  border-width: 1px 0;
  height: 50px;
}

tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}

.team-name {
  color: #f67300;
}

.svg {
  width: 6px;
  height: 6px;
}
