.App {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0px;
}

.login-container {
  width: 400px;
  position: relative;
  top: 100%;
  left: 20%;
}

.ImageLogin {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

p {
  margin-top: 0;
}

input {
  margin: 15px 0;
  padding: 10px;
}

.submit {
  padding: 10px;
}

.error {
  color: red;
  font-weight: bold;
}
