@import './assets/css/palette.css';
@import './assets/css/form.css';
@import './assets/css/header.css';
@import './assets/css/palette.css';
@import './assets/css/main.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

*,
* > * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  margin: 0;
  color: var(--link);
}

.error {
  color: var(--red);
}
